# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# User-uploaded files
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/store.png

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
