html {
  min-height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background: $color-background;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: $space-1;
    background: $color-accent;
  }
}

.content {
  padding-block: $space-5 $space-7;
}

.inner {
  width: min(100% - #{$space-6}, $container-width);
  margin-inline: auto;
}

@media all and (max-width: 600px) {
  .content {
    padding-block: $space-4 $space-6;
  }

  .inner {
    width: min(100% - #{$space-5}, $container-width);
  }
}
